* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background: linear-gradient(45deg, #FF216D, #2196F3);
}

.navigation {
    position: fixed;
    top: 20px;
    right: 20px;
    height: 20px;
    width: 250px;
    z-index: 100;
}

.toggle {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: #FFF;
    cursor: pointer;
    display: flex;
    justify-content:  flex-end;
    align-items: center;
    color: #FF216D;
    padding: 5px 20px;
}

.toggle::before {
    content: 'Menu';
    margin-right: 10px;
}
.toggle.active::before {
    content: 'Close';
}

.toggle span {
    position: relative;
    width: 20px;
    height: 50px;
}

.toggle span::before {
    content:'';
    position: absolute;
    top: 20px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #FF216D ;
    transition: 0.5s;
}

.toggle span::after {
    content:'';
    position: absolute;
    bottom: 20px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #FF216D ;
    transition: 0.5s;
}

/* Faire tourner la première barre */
.toggle.active span::before {
    transform: rotate(225deg);
    top: 24px;
}

/* Faire tourner la deuxième barre */
.toggle.active span::after {
    transform: rotate(135deg);
    bottom: 24px;
}



ul {
    position: relative;
    list-style: none;
    display: flex;
    flex-direction: column;
}

ul li {
    position: relative;
    list-style: none;
    transition: 0.5s;
    visibility: hidden;
    opacity: 0;
    /* Placer les éléments sur la gauche */
    transform: translateX(-250px);
    /* Il calcule le temps de démarrage de la transition pour chaque élément de la liste */
    transition-delay: calc(0.1s*var(--i));
}
/* Quand on aura ajouter la classe active sur à la classe navigation */
.navigation.active ul li {
    visibility: visible;
    opacity: 1;
    transform: translateX(0px);
}

ul li a {
    position: relative;
    text-decoration: none;
    display: block;
    padding: 10px 20px;
    height: 50px;
    background-color: #FFF;
    color: #333;
    transition: 0.5s;
}
ul li a:hover {
    background: #F6F6F6;
    color: #FF216D;
}
